{% extends "users/base.html" %}

{% block title %} - Profile {% endblock %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">

{% endblock %}

{% block body %}

<h2>Profile</h2>

<hr>

<div class="media">
    <img class="rounded-circle account-img" src="{{ user_query.profile.profile_picture.url }}">
    <div class="media-body">
        <h2>{{ user_query.username }}</h2>

        {% if user_query.first_name or user_query.last_name %}
            <p class="text-secondary">
                <strong>Name:</strong> {{ user_query.first_name }} {{ user_query.last_name }}
                <br>
                <strong>Email:</strong> {{ user_query.email }}
            </p>
        {% else %}
            <p class="text-secondary">
                <strong>Email:</strong> {{ user_query.email }}
            </p>
        {% endif %}
    </div>
</div>

<hr>

{% if user_query.profile.description %}
    <h4>Description</h4>
    <p>{{ user_query.profile.description }}</p>
{% endif %}

{% if user_query == user %}

    <hr>

    <a href="{% url 'update_profile' %}">
        <button class="btn btn-primary btn-sm">Edit Profile</button>
    </a>

{% endif %}

<hr>

{% include 'blog/feed.html' %}


{% endblock %}
